<app-header></app-header>
<div class="signup-form">
  <h2>Create Project</h2>

  <form (ngSubmit)="submitForm()" #projectForm="ngForm">
    <div class="form-group">
      <label for="projectName">Project Name</label>
      <input type="text" class="form-control" id="projectName" placeholder="Enter project name"
        [(ngModel)]="projectName" name="projectName" required #projectNameInput="ngModel">

      <div *ngIf="projectNameInput.invalid && (projectNameInput.dirty || projectNameInput.touched)" class="error-message">
        <div *ngIf="projectNameInput.errors && projectNameInput.errors['required']">Project Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="designation">Client</label>
      <select class="form-control" [(ngModel)]="client" name="client" required #clientInput="ngModel">

        <option disabled>Select Client</option>
        <option *ngFor="let item of clients" [value]="item._id">{{item.clientName}}</option>
      </select>

      <div *ngIf="clientInput.invalid && (clientInput.dirty || clientInput.touched)" class="error-message">
        <div *ngIf="clientInput.errors && clientInput.errors['required']">Client is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <input type="text" class="form-control" id="status" placeholder="Enter status" [(ngModel)]="status" name="status"
        required #statusInput="ngModel">

      <div *ngIf="statusInput.invalid && (statusInput.dirty || statusInput.touched)" class="error-message">
        <div *ngIf="statusInput.errors && statusInput.errors['required']">Status is required.</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid">Create project</button>
  </form>
</div>