.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
  }
  
  .header nav ul li {
    margin-right: 10px;
  }
  
  .header nav ul li:last-child {
    margin-right: 0;
  }
  
  .header nav ul li a {
    color: #fff;
    text-decoration: none;
  }