<!-- <app-left-nav>
</app-left-nav> -->
<app-header></app-header>
<div style="padding: 10px;text-align: right;">
  <button routerLink="/create-projects" routerLinkActive="active">
    Create Project
  </button>
</div>
<div class="filter-section">
  <label for="clientFilter">Filter by Client:</label>
  <select id="clientFilter" [(ngModel)]="selectedClient" (change)="applyFilters()">
    <option value="">All Clients</option>
    <option *ngFor="let client of clients" [value]="client._id">{{ client.clientName }}</option>
  </select>
</div>
<table class="table">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>Project Name</th>
      <th>Client Name</th>
      <th>Status</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projectData">
      <td>{{ item.projectName }}</td>
      <td>{{ item.client[0].clientName }}</td>
      <td>{{ item.status }}</td>
      <td><a routerLink="/create-projects" routerLinkActive="active">Update</a></td>
    </tr>
  </tbody>
</table>